body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #669999;
  --primary-color-2: #839184;
  --secondary-color: #2D4949;
  --secondary-color-2: #BCD8D8;
  --black-color: #000000;
  --dark-bg: #1E1C21;
}

.container {
  margin: 0 1rem;
}