.modal-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.modal-body {
    padding: 16px;
    max-height: 82%;
    overflow-y: auto;
}