.modal-header {
    padding: 0px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    color: #FFFFFF;
}

.modal-header-title {
    margin-bottom: 0px;
}

.modal-header-subtitle {
    margin-top: 0px;
}

@media screen and (max-width: 767px) {
    .modal-header-title {
        font-size: smaller;
    }

    .modal-header-subtitle {
        font-size: smaller;
    }
}

.modal-header-icons {
    min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-body {
    padding-top: 16px;
    max-height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: auto;
}

/* for safari */
button {
    color: black;
}

.product-shopping-list {
    border: none;
    height: 235px;
    width: 97%;
    margin-bottom: auto;
}

.product-wrapper {
    position: relative;
}

.product {
    display: flex;
}

.side-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
}


.remove-product {
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.update-count-btn-mobile {
    display: flex;
    justify-content: center;
    margin: 0 0 15px 0;
}

.share-btn,
.close-btn {
    background: none;
    border: none;
    cursor: pointer
}

.ReactModal__Content {
    display: flex;
    flex-direction: column;
}

.modal-footer {
    position: sticky;
    height: 2.5rem;
}

.modal-header-empty-shopping-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 12px;
}

.delete-list-action-btn {
    text-align: center;
    position: relative;
    top: 30%;
}
.btn-clear-action{
    border: 0;
    border-radius: .25em;
    background: initial;
    color: #fff;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
}

.empty-shopping-list{
    border: none;
    border-radius: 0.5rem;
    height: fit-content;
}


.delete-list-message {
    top: 10%;
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: .8em 1em 0;
    color: #595959;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.empty-list-message-result{
    padding-top: 20px;
    padding-bottom: 20px;
}
