#ecatalogue {
    overflow: hidden;
}

.privacy-policy-content {
    width: 100%;
    /* height: 100%; */
    height: 98vh;
    border: none;
    padding: 0;
}

.truncate-text {
    white-space: nowrap;   
    overflow: hidden;      
    text-overflow: ellipsis; /* Ajoute "..." si le texte dépasse */
    max-width: 50vw;       
    display: block;        
}
