.grid-container {
  display: grid;
  grid-auto-rows: 200px;
  /* Adjust based on content */
}

.grid-item {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 70vh;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 3rem;
  }
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .wrapper {
    height: 60vh;
  }
}
@media screen and (max-width: 350px) {
  .catalogue-name{
    font-size: 12px;
  }
  .catalogue-date{
    display: none;
  }
}

iframe>html>body {
  margin: 0 !important;
}

.grid-item>button {
  width: 100%;
  height: 100%
}

.item-wrapper {
  display: contents;
}

.item-link {
  width: 100%;
  height: 100%;
  position: relative;
}

.product-item {
  border: none;
  min-height: 100%;
  width: 100%;
  pointer-events: none;
}

.product-list-container {
  height: fit-content;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.wrapper {
  min-height: 60vh;
  overflow-y: scroll;
  padding-bottom: 16px;
}

.wrapper_one {
  height: inherit;
  /* overflow-y: scroll; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;
  box-sizing: border-box;
}

.empty_products {
  text-align: center;
  /* background: white!important; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.empty_products h1 {
  font-size: 2em;
  color: #ff0000;
  margin-bottom: 10px;
}
.empty_products p {
  font-size: 1.2em;
  color: #555;
}

.placeholder-content {
  /* padding inspecté dans html source */
  clip-path: inset(10px);
  overflow: hidden;
  background: #000;
  position: relative;
  
  /* Animation */
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8; 
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; 
}

.add-bouton {
  position: absolute;
  height: 32px;
  width: 32px;
  right: 20px;
  bottom: 20px;
}

.add-bouton img {
  width: 100%;
  height: 100%;
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}