.product-detail-container {
    height: inherit;
}

.single-product-item {
    border: none;
    min-height: 80%;
    width: 80%;
    pointer-events: none;
}

.single-item-wrapper {
    height: 85vh;
    position: relative;
}

.placeholder-content {
    /* padding inspecté dans html source */
    clip-path: inset(10px);
    overflow: hidden;
    background: #000;
    position: relative;

    /* Animation */
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8;
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px;
}

.product-item-detail {
    border: none;
    min-height: 100%;
    width: 100%;
}

.add-bouton-detail {
    position: absolute;
    display: flex;
    column-gap: 0.5rem;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    border: 4px solid transparent;
    border-radius: 10px;
    color: black !important;
    right: 20px;
    top: 20px;
}

.add-bouton {
    height: 32px;
    width: 32px;
}

.add-bouton img {
    width: 100%;
    height: 100%;
}

.add-bouton-detail-text {
    font-size: 24px;
    background: white;
    border: 4px solid white;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 0.5rem;
}

.add-bouton-detail-icon {
    display: flex;
    border: none;
    margin-right: 6px;
    width: 32px;
    height: 32px;
}

@keyframes placeholderAnimate {
    0% {
        background-position: -650px 0;
    }

    100% {
        background-position: 650px 0;
    }
}