.product-detail-container {
    height: inherit;
}

.single-product-item {
    border: none;
    min-height: 80%;
    width: 80%;
    pointer-events: none;
}

.single-item-wrapper{
    height: 85vh;
}