.view-format-dialog-content {
    align-content: center;
    background: white;
    color: white;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.view-format-dialog-close {
    color: white;
    background: none;
    border: none;
}

.view-format-dialog-left-part {
    column-gap: 1rem;
}

.view-format-dialog-right-part {
    column-gap: 0.5rem;
}

.view-format-dialog-right-part,
.view-format-dialog-left-part {
    display: flex;
    align-items: center;
}

.header {
    width: -webkit-fill-available;
    width: -moz-available;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: none;
    background: #1c1a1f;
    column-gap: 1rem;
    display: flex;
    height: 80px;
    max-height: 80px;
    padding: 0 1rem;
    text-align: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header-logo {
        width: 50px;
    }
}

@media screen and (max-width: 767px) {
    .header-logo {
        width: 35px;
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}

.header-text {
    color: white;
    text-align: left;
}

@media screen and (max-width : 767px) {
    .view-format-text {
        width: 60%;
        text-align: center;
    }

    .view-format-icon {
        margin: auto;
    }

    .view-format-icon-container {
        justify-content: center;
        align-items: center;
    }

    .view-format-dialog-desktop-content {
        display: block;
    }

    .view-format-dialog-desktop-content {
        display: none;
    }

    .view-format-dialog-button-container {
        flex-direction: column;
    }
}

@media screen and (min-width : 768px) {
    .view-format-text {
        width: 80%;
        text-align: left;
    }

    .view-format-icon-container {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header-text {
        display: flex;
        column-gap: 0.5rem;
    }

    .view-format-dialog-mobile-content {
        display: none;
    }

    .view-format-dialog-desktop-content {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .view-format-dialog-desktop-right-part,
    .view-format-dialog-desktop-left-part {
        width: 50%;
        flex: 1;
    }

    .view-format-dialog-side-image {
        display: flex;
        height: auto;
        object-fit: contain;
    }

    .view-format-dialog-desktop-right-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: auto 3rem;
    }

    .view-format-dialog-button-container {
        flex-direction: row;
        column-gap: 2rem;
    }

    .view-format-dialog-side-image>img {
        width: 100%;
    }
}

.header-text>p {
    margin: 0;
    padding: 0;
}

.header-text>p:nth-child(1) {
    font-weight: 900;
}

.view-format-dialog-button-container {
    align-items: center;
    display: flex;
    row-gap: 1rem;
}

.view-format-dialog-button {
    display: flex;
    column-gap: 1rem;
    background: none;
    border: none;
    align-items: center;
    padding: 0;
    border: 4px solid transparent;
    border-radius: 10px;
}

.view-format-dialog-button-text {
    font-size: 24px;
    background: white;
    border: 4px solid white;
    border-radius: 6px;
    font-weight: bold;
    padding: 0 0.5rem;
}

.view-format-dialog-button-icon {
    display: flex;
    border: none;
    margin-right: 6px;
}

.view-format-dialog-button:hover {
    background-color: #5ea3a3;
}

.view-format-icon-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.view-format-icon {
    width: 180px;
}

.view-format-text {
    font-size: 24px;
    font-weight: 400;
}

.btn {
    cursor: pointer;
}

.view-format-switcher {
    background: none;
    border: none;
    opacity: 0.5;
}

.view-format-dialog-header {
    position: absolute;
}
.text-gras{
    font-weight: 700;
}